<%= render 'banner'%>
<div class="container" id="list-cocktails">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 text-center padded">
            <h1>See all
                <strong><%= Cocktail.count %></strong>
                Cocktails</h1>
        </div>
    </div>
    <div class="card-wrapper padded-xs">
        <div class="row">
            <% @cocktails.each do |c| %>
            <div class="col-sm-6 col-md-3 padded-xs">
                <div class="thumbnail text-center">
                    <% if c.photo? %>
                    <%= cl_image_tag c.photo.path, width: 250, height: 200, crop: :fill %>
                    <% else %>
                    <%= cl_image_tag 'placeholder250x200_copy_qhpwkz' %>
                    <% end %>
                    <div class="caption">
                        <p class="blue-text"><%= c.name %></p><p>
                            <%= link_to '+ details', cocktail_path(c.id), class: 'btn btn-warning btn-md btn-block'%></p>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
    </div>
  </div>
