<div class="container">
    <div class="row">
        <h1 class="text-center blue-text"><%= @cocktail.name %></h1>
        <div class="col-md-4 col-md-offset-1">
            <% if @cocktail.photo? %>
            <%= cl_image_tag @cocktail.photo.path, width: 350, height: 400, crop: :fill %>
            <% else %>
            <%= cl_image_tag "placeholder350x400_copy_uelzb1"  %>
            <% end %>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="thumbnail">
                <div class="caption">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <% @cocktail.doses.each do |dose| %>
                                  <td><%= dose.description %> - <%= dose.ingredient.name %></td>
                                  <td><%= link_to "remove", cocktail_dose_path(@cocktail, dose.id), class: 'btn btn-danger btn-xs', method: :delete %></td>
                            </tr>
                            <% end %>
                        </tbody>
                        <p><%= link_to "Add dose",  new_cocktail_dose_path(@cocktail), class: 'btn btn-success btn-xs btn-block' %></p>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
