<div class="container">
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <h1>Add Doses</h1>
      <p>Select the ingredient and set the quantity</p>
      <%= simple_form_for [@cocktail, @dose] do |f| %>

      <%= f.association :ingredient, error: 'The cocktail already have this ingredient'  %>
      <%= f.input :description, label: 'Quantity'%>

      <%= f.submit 'Add', class: 'btn btn-default' %> <%= link_to 'Cancel',  cocktail_path(@cocktail), class: 'btn btn-default'%>
      <% end %>


    </div>
  </div>
</div>
