<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= cloudinary_js_config %>
  </head>

  <body>
      <%= render 'layouts/navbar' unless @disable_nav %>
      <%= yield %>
      <%= render 'layouts/footer' %>
  </body>

  <script>
    $(document).ready(function() {

      $("#all-cocktails").click(function(event){
        event.preventDefault();
        scrollTo( $("#list-cocktails"), 1000);
      });
     });
  </script>

</html>
